@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(150px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

.orbit {
  animation: orbit 20s linear infinite;
}

.orbit-delay-5 {
  animation: orbit 20s linear infinite -5s;
}

.orbit-delay-10 {
  animation: orbit 20s linear infinite -10s;
}

.orbit-delay-15 {
  animation: orbit 20s linear infinite -15s;
}

body {
  font-family: 'Nunito', sans-serif;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}